<div id="accs-footer" [hidden]="!appInfo?.footerVisibility">
    <div class="p-grid" style="margin:0">
      <div class="p-col-9">
        <div class="footerTitle">{{ appInfo?.footerText }}</div>
      </div>
      <div class="p-col-3">
        <div class="footerLink">
          <span>
            <a
              target="_blank"
              href="https://www.fedex.com/en-sg/privacy-policy.html"
              >Security and Privacy</a
            >
          </span>
          |
          <span>
            <a target="_blank" href="https://www.fedex.com/sg/search/"
              >Site Map</a
            >
          </span>
          |
          <span>
            <a
              target="_blank"
              href="https://www.fedex.com/en-sg/home.html?location=home#"
              >Global Home</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
  
